body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1e1e1e;
    font-family:Arial,sans-serif;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.traffic-box{
    width:120px;
    background:#222;
    padding:20px;
    border-radius:25px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.light{
    width:80px;
    height:80px;
    border-radius:50%;
    background:#444;
    margin:15px auto;
    transition:.4s;
}

.red.active{
    background:red;
    box-shadow:0 0 30px red;
}

.yellow.active{
    background:gold;
    box-shadow:0 0 30px gold;
}

.green.active{
    background:lime;
    box-shadow:0 0 30px lime;
}

.timer-controls{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
    color:white;
}

.timer-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:10px;
}

.timer-row input{
    width:70px;
    padding:5px;
    text-align:center;

    background:black;
    color:white;

    border:1px solid #444;
    border-radius:6px;

    outline:none;
}

.timer-row input:focus{
    border-color:#888;
}

.controls{
    margin-top:20px;
}

button{
    padding:10px 18px;
    margin:5px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(.95);
}

#start{
    background:#28a745;
    color:white;
}

#pause{
    background:#ffc107;
    color:black;
}

#stop{
    background:#dc3545;
    color:white;
}
